<app-encabezado titulo="Asistencias"></app-encabezado>
<ion-content class="ion-padding">

  <!--Buscar-->
  <ion-searchbar class="search-bar"></ion-searchbar>
  <ion-button (click)="scan()" expand="block" fill="clear" shape="round">
    Probar Scan
  </ion-button>

  <!-- Tarjetas dinámicas -->
  <div *ngIf="cursos.length === 0" class="empty-message">
    <p>No hay cursos registrados. Escanea un código QR para añadir uno.</p>
  </div>

  <ion-card *ngFor="let curso of cursos" routerLink="/asistencia-estud" routerDirection="forward" class="custom-card">
    <ion-img [alt]="curso.nombre" [src]="'assets/icon/img/appmovil.jpg'"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ curso.nombre }}</ion-card-title>
      <ion-card-subtitle>{{ curso.seccion }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>{{ curso.nombreProfesor }}</ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scan()" [disabled]="!isSupported">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center"></ion-title>
  </ion-toolbar>
</ion-footer>
