<app-encabezado titulo="Asistencias"></app-encabezado>
<ion-content class="ion-padding">

  <!--Buscar-->
  <ion-searchbar class="search-bar"></ion-searchbar>

  <!--Tarjetas de cursos-->
  <ion-card routerLink="/asistencia-estud" routerDirection="forward" class="custom-card">
    <img alt="Aplicaciones moviles" src="assets/icon/img/appmovil.jpg" />
    <ion-card-header>
      <ion-card-title>APLICACIONES MOVILES_003D</ion-card-title>
      <ion-card-subtitle>2024_2_CO_PGY4121_24236449_PCT</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>Alejandro Sepulveda</ion-card-content>
  </ion-card>

  <ion-card routerLink="/asistencia-estud" routerDirection="forward" class="custom-card">
    <img alt="Base de datos" src="assets/icon/img/bdatos.png" />
    <ion-card-header>
      <ion-card-title>BASE DE DATOS_005D</ion-card-title>
      <ion-card-subtitle>2024_2_CO_PGY4121_24236449_PCT</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>Mabelcita</ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center"></ion-title>
  </ion-toolbar>
</ion-footer>
