<app-encabezado titulo="Registro De Asistencias"></app-encabezado>

<ion-tabs>
  <!-- Contenido para cada tab -->
   

  <ion-tab tab="asistencia">
    <!-- Contenido relacionado a la asistencia -->
    <ion-content class="ion-padding">
      <ion-list *ngIf="historialScans && historialScans.length > 0">
        <ion-item *ngFor="let scan of historialScans">
          <ion-label>
            <h2>{{ scan.cursoId }}</h2> <!-- Mostrar los datos del curso escaneado -->
            <p>Fecha: {{ scan.fechaScan }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-item *ngIf="!historialScans || historialScans.length === 0">
        <ion-label>
          <p>No hay historial de escaneos.</p>
        </ion-label>
      </ion-item>
    </ion-content>
    
    


    <ion-content>
      <ion-list>
        <ion-item *ngFor="let barcode of barcodes">
          <ion-label position="stacked">{{ barcode.format }}</ion-label>
          <ion-input type="text" [value]="barcode.rawValue"></ion-input>
        </ion-item>
      </ion-list>
      <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button (click)="scan()" [disabled]="!isSupported">
          <ion-icon name="scan"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-content>
    
  </ion-tab>

   <!-- Contenido relacionado a los estudiantes -->
   <ion-tab tab="students">
    <ion-content>
      <ion-list class="lista-asistencia">
        <ion-item *ngFor="let item of items; let index">
          <ion-avatar slot="start">
            <img [src]="item.picture.thumbnail" alt="avatar" />
          </ion-avatar>
          <ion-label>{{ item.name.first }} {{ item.name.last }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-tab>
  

  <!-- Tab (botones) -->
  <ion-tab-bar slot="bottom">
    <!-- Asistencia Tab -->
    <ion-tab-button tab="asistencia">
      <ion-icon name="clipboard-outline"></ion-icon>
      Asistencia
    </ion-tab-button>


    <!-- Estudiantes Tab -->
    <ion-tab-button tab="students">
      <ion-icon name="school-outline"></ion-icon>
      Estudiantes
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
