<app-encabezado titulo="Registro De Asistencias"></app-encabezado>

<ion-tabs>
  <!-- Contenido para cada tab -->
   
  <ion-button (click)="scan()" expand="block" fill="clear" shape="round">
    Click me
  </ion-button>
  <ion-tab tab="asistencia">
    <!-- Contenido relacionado a la asistencia -->
   <!-- Contenido relacionado a la asistencia -->
   <ion-content class="ion-padding">
    
    <!-- Mostrar historial de escaneos -->
    <ion-list *ngIf="historialScans && historialScans.length > 0">
      <ion-item *ngFor="let scan of historialScans">
        <ion-label>
          <h2>{{ scan.curso.nombre }}</h2> <!-- Mostrar el nombre del curso -->
          <p>Sección: {{ scan.curso.seccion }}</p> <!-- Mostrar la sección -->
          <p>Profesor: {{ scan.curso.nombreProfesor }}</p> <!-- Mostrar el nombre del profesor -->
          <p>Fecha y Hora: {{ scan.curso.fechaCreacion | date:'short' }}</p> <!-- Mostrar la fecha y hora -->
          <p>Fecha Escaneo: {{ scan.fechaScan | date:'short' }}</p> <!-- Fecha del escaneo -->
        </ion-label>
      </ion-item>
    </ion-list>



    <!-- Mensaje si no hay escaneos -->
    <ion-item *ngIf="!historialScans || historialScans.length === 0">
      <ion-label>
        <p>No hay historial de escaneos.</p>
      </ion-label>
    </ion-item>
  </ion-content>

  <!-- Escanear un nuevo código QR -->
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let barcode of barcodes">
        <ion-label>
          <h3>Tipo de código: {{ barcode.format }}</h3> <!-- Mostrar el tipo de código escaneado -->
          <p>Código escaneado: {{ barcode.rawValue }}</p> <!-- Mostrar el valor del código escaneado -->
        </ion-label>
      </ion-item>
    </ion-list>

      <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button (click)="scan()" [disabled]="!isSupported">
          <ion-icon name="scan"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-content>
    
  </ion-tab>

   <!-- Contenido relacionado a los estudiantes -->
   <ion-tab tab="students">
    <ion-content>
      <ion-list class="lista-asistencia">
        <ion-item *ngFor="let item of items; let index">
          <ion-avatar slot="start">
            <img [src]="item.picture.thumbnail" alt="avatar" />
          </ion-avatar>
          <ion-label>{{ item.name.first }} {{ item.name.last }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-tab>
  

  <!-- Tab (botones) -->
  <ion-tab-bar slot="bottom">
    <!-- Asistencia Tab -->
    <ion-tab-button tab="asistencia">
      <ion-icon name="clipboard-outline"></ion-icon>
      Asistencia
    </ion-tab-button>


    <!-- Estudiantes Tab -->
    <ion-tab-button tab="students">
      <ion-icon name="school-outline"></ion-icon>
      Estudiantes
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
