.contenedor-titulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px; /* Ajusta según la distancia deseada desde el top */
  }
  
  h2, h3 {
    text-align: center; /* Asegura que el texto esté centrado */
  }

  .class-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h2 {
      font-size: 1.2em;
      margin: 0;
    }
    p {
      font-size: 1em;
      margin: 0;
    }
  }
  
  .date-info {
    text-align: right;
    h3 {
      font-size: 1em;
      margin: 0 0 0.5em 0;
    }
    ion-badge {
      margin-left: 0.5em;
      ion-icon {
        margin-right: 0.2em;
      }
    }
  }

  /* Espaciar la lista de asistencia del toolbar */
.lista-asistencia{
  margin-top: 70px;
}
  //estilo para la lista de estudiantes
  
  
  
  
  
  
  