<app-encabezado titulo="Control de Asistencia"></app-encabezado>

<ion-tabs>
  <!-- Tab Asistencia -->
  <ion-tab tab="asistencia">
    <ion-content>
      <div class="contenedor-titulos">
        <h3>APLICACIONES_MOVILES_003D</h3>
      </div>
      <ion-button expand="full" routerLink="/qrcode">Generar QR<ion-icon name="qr-code-outline"></ion-icon></ion-button>
      <!-- Lista de clases -->
      <ion-list>
        <ion-item *ngFor="let asistencia of asistencias">
          <ion-label>
            <h2>{{ asistencia.curso }}</h2>
            <p>Sección: {{ asistencia.seccion }}</p>
            <p>Profesor: {{ asistencia.profesor }}</p>
            <p>Fecha: {{ asistencia.fecha }}</p>
            <p>Hora: {{ asistencia.hora }}</p>
          </ion-label>
        </ion-item>
        <ion-item routerLink="/detalle-asistencia" routerDirection="forward">
          <ion-label class="class-info">
            <h2>Clase 1</h2>
            <p>Hora: 10:00 AM</p>
          </ion-label>
          <ion-label class="date-info" slot="end">
            <h3>25 - Septiembre - 2024</h3>
            <ion-icon class="icono-personas" name="people-outline"></ion-icon> 10
            <ion-icon class="icono-presentes" name="checkmark-circle-outline"></ion-icon> 5
            <ion-icon class="icono-ausentes" name="close-circle-outline"></ion-icon> 5
            <ion-icon class="icono-justificado" name="time-outline"></ion-icon> 0
          </ion-label>
        </ion-item>
      </ion-list>

    </ion-content>
  </ion-tab>

  <!-- Tab Estudiantes -->
  <ion-tab tab="students">
    <ion-content>
      <ion-list class="lista-asistencia">
        <ion-item-sliding *ngFor="let item of items; let index">
          <ion-item>
            <ion-avatar slot="start">
              <ion-img [src]="'https://picsum.photos/80/80?random=' + index"></ion-img>
            </ion-avatar>
            <ion-label>{{ item }}</ion-label>
            <ion-buttons slot="end">
              <ion-button routerLink="/ubicacion" routerDirection="forward">
                <ion-icon class="icon-location" slot="icon-only" name="location"></ion-icon>
              </ion-button>
              <ion-button (click)="editStudent(item)">
                <ion-icon class="icon-edit" slot="icon-only" name="create"></ion-icon>
              </ion-button>
              <ion-button (click)="deleteStudent(item)">
                <ion-icon class="icono-ausentes" slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-item-sliding>
      </ion-list>

      <ion-infinite-scroll (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content>Cargando...</ion-infinite-scroll-content>
      </ion-infinite-scroll>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addStudent()" routerLink="/add-alum" routerDirection="forward">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-content>
  </ion-tab>

  <!-- Tab-bar de navegación -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="asistencia">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Asistencia</ion-label>
    </ion-tab-button>
    

    <ion-tab-button tab="students">
      <ion-icon name="school-outline"></ion-icon>
      <ion-label>Estudiantes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
