.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px; /* Ajusta el alto del contenedor */
    width: 100%; /* Ajusta el ancho del contenedor */
    
  }
  