<ion-header>
  <ion-toolbar class="toolbar-home">
    <ion-title class="ion-text-center">RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<div class="logo-container">
  <img src="assets/icon/img/Logo-Duoc-UC.png" alt="Logo Duoc" class="logo-duoc">
</div>

<div id="intro">
  <p>HOLA Desde esta aplicación podrás escanear un Código QR provisto por tu docente para registrar tu asistencia a clases.
  </p>

  <p>Si eres docente, podrás generar un Código QR vinculado a la clase actual para que tus alumnos puedan escanearlo y
    registrar su asistencia.</p>
</div>

<div class="banner">
  <strong>Ingresa para utilizar la aplicación:</strong>
  <ion-button class="btn-login" routerLink="/login" routerDirection="forward" expand="block">Iniciar
    sesión</ion-button>
</div>

<div class="banner">
  <strong>Si no tienes cuenta registrarte aquí:</strong>
  <ion-button class="btn-register" routerLink="/register" routerDirection="forward"
    expand="block">Registrarse</ion-button>
</div>


<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center"></ion-title>
  </ion-toolbar>
</ion-footer>
