<ion-header>
  <ion-toolbar class="toolbar-home">
    <ion-title class="ion-text-center">RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<div class="logo-container">
  <img src="assets/icon/img/Logo-Duoc-UC.png" alt="Logo Duoc" class="logo-duoc">
</div>

<div id="intro">
  <p>¡Bienvenido a la app de registro de asistencia de Duoc UC! Simplifica y moderniza el control de asistencia de tus clases con nuestra herramienta fácil de usar. 
    ¡Comienza ahora y lleva un seguimiento preciso de tus estudiantes!</p>
</div>

<div id="intro">
  <strong>Ingresa para utilizar la aplicación:</strong>
  <ion-button class="btn-login" routerLink="/login" routerDirection="forward" expand="block">Iniciar
    sesión</ion-button>
</div>

<div id="intro">
  <strong>Si no tienes cuenta registrarte aquí:</strong>
  <ion-button class="btn-register" routerLink="/register" routerDirection="forward"
    expand="block">Registrarse</ion-button>
</div>


<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center"></ion-title>
  </ion-toolbar>
</ion-footer>
