#intro {
  padding: 20px;
  text-align: center;
}

.banner {
  padding: 10px 20px;
  text-align: center;
}

.banner strong {
  display: block;
  margin-bottom: 10px;
  color: #003366;
}


.btn-primary {
  --background: #003366;
  --color: #fff;
}

.btn-secondary {
  --background: #4CAF50;
  --color: #fff;
}

.logo-duoc {
  display: flex;
  margin: 0 auto;
  width: 250px;
  height: 250px;
}

.toolbar-home {
  padding: 10px;
  color: white;
  --background: #042c54;

}