#intro {
  padding: 20px;
  text-align: center;
}




.btn-primary {
  --background: #003366;
  --color: #fff;
}

.btn-secondary {
  --background: #4CAF50;
  --color: #fff;
}

.logo-duoc {
  display: flex;
  margin: 0 auto;
  width: 250px;
  height: 250px;
}

.toolbar-home {
  padding: 10px;
  color: white;
  --background: #042c54;

}