<app-encabezado titulo="Cursos"></app-encabezado>

<ion-content class="ion-padding">
  <h3>Asignaturas</h3>

  <!--Buscar-->
  <ion-searchbar class="search-bar"></ion-searchbar>

  <!--Tarjetas de cursos-->
  <ion-card *ngFor="let curso of cursos" routerLink="/asistencias" routerDirection="forward" class="custom-card">
    <ion-img alt="{{ curso.nombre }}" src="assets/icon/img/appmovil.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ curso.nombre }}</ion-card-title>
      <ion-card-subtitle>{{ curso.sigla }} - {{ curso.seccion }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>{{ curso.profesor }}</ion-card-content>
  </ion-card>
</ion-content>

<!--Boton para agregar clases-->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button routerLink="/agregar-curso" routerDirection="forward">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center"></ion-title>
  </ion-toolbar>
</ion-footer>
