<app-encabezado titulo="Cursos"></app-encabezado>

<ion-content class="ion-padding">
  <h3>Asignaturas</h3>

  <!--Buscar-->
  <ion-searchbar class="search-bar"></ion-searchbar>

  <!--Tarjetas de cursos-->
  <ion-card routerLink="/secciones" routerDirection="forward" class="custom-card">
    <ion-img alt="Aplicaciones moviles" src="assets/icon/img/appmovil.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>PROGRAMACION DE BASE DE DATOS</ion-card-title>
    </ion-card-header>
    <ion-card-content>Mabel</ion-card-content>
  </ion-card>

  <ion-card routerLink="/asistencias" routerDirection="forward" class="custom-card">
    <ion-img alt="Base de datos" src="assets/icon/img/bdatos.png"></ion-img>
    <ion-card-header>
      <ion-card-title> CONSULTA DE BASES DE DATOS</ion-card-title>
    </ion-card-header>
    <ion-card-content>Mabel</ion-card-content>
  </ion-card>
</ion-content>

<!--Boton para agregar clases-->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button routerLink="/agregar-curso" routerDirection="forward">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center"></ion-title>
  </ion-toolbar>
</ion-footer>
