<app-encabezado titulo="Ubicacion Del Estudiante"></app-encabezado>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Verificar Ubicación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Nombre del Alumno: Juan Pérez</p>
      <p>Fecha: 26 de Septiembre, 2024</p>
      <p>Hora: 10:30 AM</p>
    </ion-card-content>
  </ion-card>

  <div class="map-container">
    <iframe
      width="100%"
      height="400"
      frameborder="0"
      style="border:0"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3179.6279792441296!2d-73.05607352489955!3d-36.82081657994459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9669b5d6e41c7c51%3A0x5221c71c1a9bc6f!2sDuoc%20UC%20Sede%20San%20Andr%C3%A9s!5e0!3m2!1ses-419!2scl!4v1695759271707!5m2!1ses-419!2scl"
      allowfullscreen>
    </iframe>
  </div>


</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center"></ion-title>
  </ion-toolbar>
</ion-footer>
